body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: #1a1a1a;
	color: white;
}

header {
	display: flex;
	justify-content: space-betwenn;
	align-items: center;
	padding: 20px 10%;
	background: #111;
	color: white;
}

nav a {
	color: white;
	text-decoration: none;
	margin-left: 20px;
}

nav a:hover {
	color: #f39c12;
}

h1, h2, h3 {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.hero {
	background: url('hero.jpeg') center/cover no-repeat;
	text-align: center;
	padding: 140px 20px;
	position: relative;
}

.hero::after {
	content: "";
	postion: absolute;
	inset: 0;
	background: rgba(0,0,0,0.6);
}

.hero h1, .hero p, .hero a {
	position: relative;
	z-index: 1;
}

.hero h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

.hero p {
	font-size: 20px;
	margin-bottom: 30px;
}

.hero .btn {
	background: #c59d5f;
	padding: 15px 25px;
	border-radius: 8px;
	font-weight: bold;
	transition: 0.3s;
}

.hero .btn:hover {
	background: #a88449;
}

.servicios {
	padding: 70px 20px;
	text-align: center;
}

.servicios h2 {
	margin-bottom: 40px;
}
.servicio h3 {
	margin-bottom: 40px;
}

.servicio p {
	font-size: 20px;
	margin-bottom: 30px;
}

.servicio img {
	width: 100%;
	height: 180px;
	object-fit: cover;
}

.servicios-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.servicio {
	background: #262626;
	padding: 25px;
	width: 280px;
	border-radius: 12px;
	transition: 0.3s;
}

.servicio:hover {
	transform: translateY(-5px);
	background: #303030;
}

.horarios {
    text-align: center;
    padding: 60px 10%;
    background: #f4f4f4;
    color: black;
}

.contacto {
	padding: 70px 20px;
	text-align: center;
}

.contacto h2 {
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	margin-top: 25px;
	background: #25D366;
	padding: 15px 25px;
	border-radius: 8px;
	font-weight: bold;
	transition: 0.3s;
}

.btn:hover {
	background: #1ebe5b;
}

footer {
	margin-bottom: 20px;
	align-items: center;
	text-align: center;
	color: white;
	background: #1a1a1a;
	font size: 40px;
}

@media (max-width: 768px) {
	.hero {
		padding: 90px 20px;
	}

	.hero h1 {
		font-size: 30px;
	}

	.hero p {
		font-size: 16px;
	}

	.servicios-container {
		flex-direction: column;
		align-items: center;
	}

	.servicio {
		width: 90%;
		max-width: 350px;
	}

	footer {
		font-size: 16px;
	}
}